HTTP__ADDRESS=:3000 # HTTP server listen address
HTTP__PROXY_HEADER=X-Forwarded-For # HTTP proxy header
HTTP__PROXIES=127.0.0.1 # HTTP trusted proxies

STORAGE__URL=redis://localhost:6379/0 # Redis URL

CSR__CA_CERT_PATH=./ca/ca.crt   # CA certificate
CSR__CA_KEY_PATH=./ca/ca.key    # CA private key
